@import "tailwindcss";

*{
  scrollbar-width: none;
}

i{
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  font-weight: bold;
}

.enable-scroll-bar{
  scrollbar-width: thin;
  scrollbar-color: #292940 #FBFCFE;
  scroll-behavior: smooth;
}

@theme{
  --color-AADT-secondary-dark: #E2E6EE;
  --color-AADT-secondary-light: #FBFCFE;
  --color-AADT-blue: #1572FE;
  --color-AADT-white-50: #FFFFFF28;
  --color-AADT-white-100: #FFFFFF;
  --color-AADT-black: #292940;

}